:root {
    --primary: #05174b;
    --accent: #eb7c2d;
    --dark: #0f172a;
    --light: #f8fafc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', system-ui, sans-serif;
}

body {
    background-color: var(--light);
    color: var(--dark);
    line-height: 1.6;
}

.cabecalho {
    background: linear-gradient(135deg, var(--dark), var(--primary));
    color: var(--accent);
    text-align: center;
    padding: 50px 20px;
}

.cabecalho img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto; 
}

.cabecalho p {
    color: white;
    font-size: 1.2rem;
    max-width: 700px;
    margin: 50px auto 50px;
    opacity: 0.9;
}

.cabecalho a {
    text-decoration: none;
    color: white;
    background-color: var(--accent);
    border: none;
    padding: 20px 40px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}

.cabecalho a:hover {
    background-color: white;
    color: var(--accent);
    transform: scale(1.05);
}

.cabecalho__menu{
    font-size: 1rem;
    font-weight: bold;
}

#menu {
    text-align: right;
    margin-top: 20px;
    padding: 10px 40px;
}

.cabecalho__menu button {
    background-color: var(--light);
    font-size: 18px;
    border-radius: 30px;
    color: var(--accent);
    padding: 10px 30px;
    margin-top: 70px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}

.cabecalho__menu button:hover {
    background-color:var(--accent);
    color: var(--light);
    transform: scale(1.05);
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 20px;
}

.container h1 {
    text-align: center;
    margin-bottom: 15px;
    color: var(--primary);
}

.container p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.galeria img {
    width: 300px;
    height: 300px;
    transition: scale 3s;
}

.galeria img:hover {
    scale: 2.0;
}

.galeria {
    max-width: 100%;
    height: auto;
    display: block;
    text-align: center;
}

.footer {
    background-color: var(--primary);
    color: white;            
    padding: 30px 20px 10px;
    font-family: sans-serif;
}


.container-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.coluna-footer {
    margin-bottom: 20px;
    min-width: 200px;
}

.coluna-footer h3 {
    border-bottom: 2px solid var(--accent);
    padding-bottom: 8px;
    margin-bottom: 15px;
}

.coluna-footer ul {
    list-style: none;
    padding: 0;
}

.coluna-footer ul li {
    margin-bottom: 10px;
}

.coluna-footer ul li a {
    color: var(--light);
    text-decoration: none;
    transition: color 0.3s;
}

.coluna-footer ul li a:hover {
    color: var(--accent);
}

.direitos-autorais {
    text-align: center;
    border-top: 1px solid var(--light);
    margin-top: 20px;
    padding-top: 15px;
    font-size: 16px;
    color: white;
}
